Source: debian-packaging-utilities
Section: devel
Priority: optional
Maintainer: Julien Castets <castets.j@gmail.com>
Build-Depends: debhelper (>= 8)
Standards-Version: 3.9.3
Vcs-Git: git://github.com/EvaSDK/debian-packaging-utilities.git
Vcs-Browser: https://github.com/EvaSDK/debian-packaging-utilities

Package: debian-packaging-utilities
Architecture: all
Depends: ${misc:Depends}, dpkg-dev
Description: Set of scripts to help building debian packages
 This package contains a collection of scripts that make a maintainer life
 easier.
 .
 debutil-build helps to create a package from a source tree with a debian
 directory inside.
 .
 debutil-backport simplifies the backporting of debian packages.
